@model List<CartItemViewServiceModel>

@{
    ViewData["Title"] = "My Cart";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    @if (Model.Count() == 0)
    {
        <h3 class="text-center">Your cart is empty.</h3>
        <a class="btn btn-primary" role="button" asp-controller="Products" asp-action="All">Go Shop!</a>
    }
    else
    {
        <div class="row">
            <div class="col-6">
                @foreach (var product in Model)
                {
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src=@product.ProductImageUrl class="img-fluid rounded-start" alt="Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@product.ProductName</h5>
                                    <p class="card-text"><span class="font-weight-bold">Price: </span>@product.ProductPrice</p>
                                    <p class="card-text"><span class="font-weight-bold">Manufacturer: </span>@product.ProductManufacturerName</p>
                                    <p class="card-text font-weight-bold">Quantity:</p>
                                    <div class="input-group w-50">
                                        <a class="btn btn-light border-dark" asp-controller="Cart" asp-action="Remove" asp-route-productId=@product.ProductId asp-route-userId=@User.GetId()>-</a>
                                        <input type="text" class="form-control text-center" id="quantity" value="@product.Quantity">
                                        <a class="btn btn-light border-dark" asp-controller="Cart" asp-action="Add" asp-route-productId=@product.ProductId asp-route-userId=@User.GetId()>+</a>
                                    </div>
                                </div>
                                <a class="btn btn-danger mb-3" asp-controller="Cart" asp-action="Delete" asp-route-productId=@product.ProductId asp-route-userId=@User.GetId()>Remove</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @{
                var totalSum = Model.Sum(x => (x.ProductPrice * x.Quantity));
                var totalProductsCount = Model.Sum(x => x.Quantity);
            }
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">You Order</h5>
                        <hr />
                        <h6 class="card-subtitle mb-2 ">Total price: @totalSum</h6>
                        <p class="card-text">Products count: @totalProductsCount</p>
                        <a class="btn btn-danger" asp-controller="Order" asp-action="Proceed" asp-route-userId="@User.GetId()">Proceed</a>
                        <span>with oredr.</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*
        @section Scripts{
        <script type="text/javascript">

            function Add() {
                var productId = $("#ProductId").val();
                var userId = $("#UserId").val();
                $.ajax({
                    url: '/Cart/Add?productId=' + productId + '&userId=' + userId,
                    type: 'Post',
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                   //TODO:success does not return a value! success: function (quantity) {
                        alert(result);
                        $("#quantity").val() = quantity;
                    },
                })
            }
        </script>
    }
*@


