@model ServiceSearchPageModel

@{
    ViewData["Title"] = "Services Page";
}

<div class="container">
    <div class="col-12 text-center mb-4">
        <h2 class="d-block">Services you can use.</h2>
    </div>
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-5">
                <label asp-for="SearchTerm">Search</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Search in name or description" />
            </div>
            <div class="col-md-4">
                <label asp-for="Sorting">Sort by:</label>
                <select asp-for="Sorting" class="form-select">
                    <option value="0">Name</option>
                    <option value="1">Date Created</option>
                    <option value="2">Manufacturer</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary position-absolute bottom-0 end-0 mr-3" value="GO" />
            </div>
        </div>
    </form>
    @{
        var previousPage = Model.CurrantPage - 1;

        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var pagesCount = Math.Ceiling((double)Model.TotalServices / ServiceSearchPageModel.servicesPerPage);

        if (pagesCount == 0)
        {
            pagesCount = 1;
        }

    }
    <div class="row mb-3">
        <div class="col-md-6">
            <a class="btn btn-primary float-left @(Model.CurrantPage == 1 ? "disabled" : string.Empty)" asp-controller="Products" asp-action="All" asp-route-currantPage="@(Model.CurrantPage-1)" asp-route-sorting="@Model.Sorting" asp-route-searchTerm="@Model.SearchTerm">
                <<
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-right @(Model.CurrantPage == pagesCount ? "disabled" : string.Empty)" asp-controller="Products" asp-action="All" asp-route-currantPage="@(Model.CurrantPage+1)" asp-route-sorting="@Model.Sorting" asp-route-searchTerm="@Model.SearchTerm">
                >>
            </a>
        </div>
    </div>
    <div class="row">
        @if (!Model.Services.Any())
        {
            <h2 class="text-center">No services found by the given criteria.</h2>
        }
        @foreach (var service in Model.Services)
        {
            <div class="col-lg-4 mb-5 col-md-6">
                <div class="text-center pb-4 card">
                    @if (service.ImageUrl != null)
                    {
                        <a class="thumbnail d-block mb-4"><img src=@service.ImageUrl alt="Image" class="card-img-top"></a>
                    }
                    <div class="card-body">
                        <h3 class="card-title"> @service.Name</h3>
                        <div class="text-center">
                            <p>@service.Description</p>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" role="button" asp-controller="Services" asp-action="Details" asp-route-id=@service.Id>Details</a>
                        @if (User.IsAdmin())
                        {

                            <a class="btn btn-danger" role="button" asp-controller="Services" asp-action="Delete" asp-route-id=@service.Id>Delete</a>
                            <a class="btn btn-warning" role="button" asp-controller="Services" asp-action="Edit" asp-route-id=@service.Id>Edit</a>

                        }
                    </div>                   
                </div>
            </div>          
        }
    </div>
</div>


