@model ProductSearchPageModel

@{
    ViewData["Title"] = "Products Page";
}

<div clss="container">
    <partial name="_ProductViewTitle"/>
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="SearchTerm">Search</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Search in name or description" />
            </div>
            <div class="col-md-3">
                <label asp-for="Color">Search by color</label>
                <select asp-for="Color" class="form-select">
                    <option value="">All</option>
                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label asp-for="Sorting">Sort by:</label>
                <select asp-for="Sorting" class="form-select">
                    <option value="0">Name</option>
                    <option value="1">Year</option>
                    <option value="2">Manufacturer</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary position-absolute bottom-0 end-0 mr-3" value="GO" />
            </div>
        </div>
    </form>
    @{
        var previousPage = Model.CurrantPage - 1;

        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var pagesCount = Math.Ceiling((double)Model.TotalProducts / ProductSearchPageModel.productsPerPage);

        if (pagesCount == 0)
        {
            pagesCount = 1;
        }

    }
    <div class="row mb-3">
        <div class="col-md-6">
            <a class="btn btn-primary float-left @(Model.CurrantPage == 1 ? "disabled" : string.Empty)" asp-controller="Products" asp-action="All" asp-route-currantPage="@(Model.CurrantPage-1)" asp-route-sorting="@Model.Sorting" asp-route-searchTerm="@Model.SearchTerm" asp-route-color="@Model.Color">
                <<
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-right @(Model.CurrantPage == pagesCount ? "disabled" : string.Empty)" asp-controller="Products" asp-action="All" asp-route-currantPage="@(Model.CurrantPage+1)"asp-route-sorting="@Model.Sorting" asp-route-searchTerm="@Model.SearchTerm" asp-route-color="@Model.Color">
                >>
            </a>
        </div>
    </div>
    <div class="row">
        @if(!Model.Products.Any())
            {
                <h2 class="text-center">No products found by the given criteria.</h2>
            }
        @foreach (var wine in Model.Products)
        {
            <div class="col-lg-4 mb-5 col-md-6">
                <div class="text-center pb-4 card">
                    <a class="thumbnail d-block mb-4"asp-controller="Products" asp-action="Details" asp-route-id=@wine.Id><img src=@wine.ImageUrl alt="Image" class="card-img-top" ></a>
                    <div class="card-body">
                        <h3 class="card-title">@wine.Name</h3>
                        <span class="text-center">@wine.Price lv.</span>                        
                        <div class="text-center">
                            @if (SignInManager.IsSignedIn(User) && !User.IsAdmin())
                            {
                                <a class="btn btn-danger" asp-controller="Cart" asp-action="AddToCart" asp-route-productId=@wine.Id asp-route-userId=@User.GetId()>
                                    <i class="fas fa-shopping-cart">  Add to Cart</i></a>
                            }
                            else
                            {
                        <a class="nav-link text-primary" style="font-family: 'Times New Roman', Times, serif" asp-area="Identity" asp-page="/Account/Login">
                            Sign in to shop
                            <i class="fas fa-arrow-right"></i>
                        </a>
                            }
                            </div>                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>

