@model Web.Services.Products.Models.ProductDetailsServiceModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img src=@Model.ImageUrl class="img-fluid rounded-start" alt="Image">
        </div>
        <div class="card-body col-8">
            <h5 class="card-title">Product Details</h5>
            <hr />
            <div class="card-text">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Price)
                        <span>lv.</span>
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ManufactureYear)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ManufactureYear)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Taste)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Taste)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.GrapeVarieties)
                    </dt>
                    <dd class="col-sm-8">
                        <span>@string.Join(", ", Model.GrapeVarieties)</span>
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.InStock)
                    </dt>
                    <dd class="col-sm-8">
                        @if (Model.InStock)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ManufacturerName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ManufacturerName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.WineAreaName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.WineAreaName)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id">Add to Cart</a> |
                <a asp-action="All">Back to List</a>
            </div>
        </div>
    </div>
</div>
