@model List<UserInfoServiceModel>

@{
    ViewData["Title"] = "Members List";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<table class="table table-striped">
    <partial name="_TableHeadPartial" />
    <tbody>
        @foreach (var member in Model)
        {
        <tr>
            <td scope="col">@member.Username</td>
            <td scope="col">@member.Email</td>
            <td scope="col">@member.FirstName</td>
            <td scope="col">@member.LastName</td>
            <td scope="col">
                <a class="btn btn-danger float-right ml-2" asp-controller="Users" asp-action="DeclineMember" asp-route-id=@member.Id>Remove Member</a>
                <a class="btn btn-warning float-right ml-2" asp-controller="Users" asp-action="DeclineMember" asp-route-id=@member.Id>Edit Info</a>
                <a class="btn btn-primary float-right ml-2" asp-controller="Users" asp-action="ApproveMember" asp-route-id=@member.Id>View Info</a>
            </td>
        </tr>
        }
    </tbody>
</table>
