@model WineAreaServiceModel

@{ 
    ViewData["Title"] = "Wine region details";
}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="~/Images/wineyard.jpg" class="img-fluid rounded-start" alt="image">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title  text-center">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-8 text-center">Products from this region</th>
                    <th scope="col" class="col-4 text-center">Manufacturers from this region</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  scope="col" class="col-8 text-center">
                        @foreach (var product in Model.Products)
                        {
                           <span><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name </a>,  </span> 
                        }
                    </td>
                    <td scope="col" class="col-4 text-center">
                        @foreach (var manufacturer in Model.Manufacturers)
                        {
                        <span>
                            <a  asp-controller="Manufacturers" asp-action="Details" asp-route-id="@manufacturer.Id">@manufacturer.Name </a>, 
                        </span>                           
                        }
                    </td>
                </tr>
            </tbody>
        </table>
</div>
